Source: caffe
Version: 1.0.0
Build-Depends: boost, gflags, glog, hdf5, lmdb, protobuf, openblas
Description: Caffe: a fast open framework for deep learning.

Feature: cuda
Description: Build caffe with CUDA support
Build-Depends: cuda

Feature: mkl
Description: Build caffe using BLAS as mkl backend

Feature: opencv
Description: Build caffe with opencv
Build-Depends: opencv